<div class="body-all">
  <h1>Our first view 🚀</h1><br>
    <div class="body-input">
      <form action="/answer" method="get">
        <input id="what-question" type="text" name="question" placeholder="What question do you have?">
        <input id="submit-button" type="submit">
      </form>
    </div>
</div>
