// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#submit-button{
  background-color: rgb(0, 136, 255);
  font-family: monospace;
  color: white;
  height: 80px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
}

#what-question{
  font-family: monospace;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 20px;

}

h1{
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}

.body-all{
  // display: flex;
    // align-items: center;
    // justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 800px;
  width: 800px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.body-input{
  padding-top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.body-output{
  padding: 10% 25%;

}
